
/* ---------Main-Top----------- */

h1{
	color: rgba(68,68,68,1);
}
p{
	margin-bottom: 0;
}
main .mainTop{
	margin-bottom: 40px;
}
.mainTop .mainNav{
	background-color: #f7f7f7;
	height: 3rem;
}


.mainNav .container-fluid,.container,
.containerTop{
	height: 100%;
}
.containerTop .containerLeft{
	background-color:rgba(234,177,26,1);
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: .8em;
	letter-spacing: 2px; 
	user-select: none;
}

.containerTop .containerRight{
	color:#666;
	display: flex;
	align-items: center;
}

.containerRight .searchBox{
	position: relative;
	display: flex;
	align-items: center;
}
.searchBox input{
	border:1px solid rgba(0,0,0,.2);
	border-radius: 16px;
	line-height: 30px;
	padding-left: 16px;
	font-size: .8em;
	width: 100%;
	color: #666;
	outline: none;
	box-sizing: content-box;
}

.searchBox .containerTopMenu{
	width: 30%;
	font-size: .7em;
	margin:auto 0;
	position: absolute;
	right: 18%;
}

.containerMenu li{
	padding-left: 10px;
	position: relative;
	cursor: pointer;
}

.containerMenu:before{
	content: "";
	height: 16px;
	width: 1px;
	background: rgba(0,0,0,.1);
	position: absolute;
	top: 10%;
	left: 0;
}
.searchBox i{
	position: absolute;
	right: 3%;
	background: rgba(234,177,26,1);
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 0 16px 16px 0;
	color: #fff;
	cursor: pointer;
	transition: 200ms;
}

.searchBox i:hover{
	color: #999;
	font-size: 12px;
}
.subMenu{
	position: absolute;
	top: 24px;
	left: 0;
}


.subMenu li{
	width: 100%;
	font-size: 1.2em;
	padding: 6px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.1);
	transition: 100ms;
}

.subMenu li:hover{
	color: rgba(234,177,26,1);
}

.rightInfo{
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
.rightInfo .info1,
.rightInfo .info2{
	width: 30%;
	font-size: .7em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:50px;
}

.info1 i, .info2 i{
	font-size: 2em;
	padding-right: 15px;
}

.info1 p,
.info2 p{
	margin-bottom: 0;
}

.info1 div, .info2 div{
	padding-left: 15px;
	position: relative;
	user-select: none;
} 

.info1 div p,
.info2 div p{
	color: #999;
}

.info1 div span,
.info2 div span{
	letter-spacing: 1px;
}

.info1 div:before, 
.info2 div:before{
	content: '';
	width: 1.2px;
	height: 2.1em;
	background:rgba(234,177,26,1); 
	position: absolute;
	left: 0;
	top: .5em;
}

/* --------------------containerFix - Invisible------------*/

.fixMenu,
.fixMenuRight{
	opacity: 0;
	width: 0px;
	height: 0px;
}

/* -------------Container-Middle ------------*/

.containerMid{
	
}

.containerMid .midLeft{
	padding: 0;
}
.containerList{
	box-shadow: .6px .4px 4px rgba(0,0,0,.1);
	box-sizing: content-box;
	border: .8px solid rgba(0,0,0,.1); 
}
.containerList>li{
	padding: 12px 20px; 
	width: 100%;
	border-bottom: .5px solid rgba(0,0,0,.2)
}

.containerList{
	position: relative;
}
.containerList li i{
	width: 20px;
	text-align: center;
	color: rgba(234,177,26,1);
	transition: all 250ms ease-in;
}

.containerList .subContainer{
	display: none;
	position: absolute;
	top: 0%;
	left: 100%;
	background: #fff;
	height: 100%;
	width: 30vw;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 10px;
	font-size: .8rem;
	box-shadow: 1px 2px 5px rgba(0,0,0,.2);
	transition: all 200ms ease;
	overflow: hidden;
}

.subContainer ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 20px;
	position: relative;

}

.subContainer li{
	border-bottom: none;
	transition: 200ms;
	line-height: 32px;
}
.subContainer li:hover{
	color: rgba(234,177,26,1);
}
.subContainer>span{
	font-size: 1rem;
	margin-left: 30px;
	font-weight: 600;
	user-select: none;
}
.subContainer a{
	margin-left: 0px !important;
	left: 0;
}
.subContainer .img-banners{
	position: relative;
	height: 50%;
}
.subContainer .img-banners img{
	width: 100%;
	position: absolute;
}

.img-banners .infoBanners{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin:20px 20px 0px 40px;
	position: absolute;
	z-index: 2;
}

.infoBanners span{
	color: #888;
	margin-bottom: 20px;
	font-weight: 400;
}
.containerList li a{
	display: inline-block;
	margin-left: 20px;
	font-size: .9rem;
	color:#4D4D4D;
	transition: all 300ms ease;
}

.containerList li:hover .subContainer{
	display: flex;
}
.containerList li:hover a{
	transform: translateX(4px);
}
.containerList li:hover i{
	transform: translateX(4px);	
}
.containerMid .midRight{
	z-index: -2;
	margin-top: 20px;
	background-color: rgba(243,243,243,1);
	width: 100%;
	height: 415px;
	position: relative;
	overflow: hidden;	
}

.midRight img{
	position: absolute;
	width: 40%;
    top: 10%;
    right: 0;

}

.midRight .infoImg{
	height: 100%;
	width: 40%;
	margin:50px 50px;
	color: rgba(68,68,68,1);
}

.infoImg span{
	font-weight: 500;
}
.infoImg h1{
	margin:20px 0;
	font-weight: bold;
}
.infoImg p{
	color: #777;
}


/* ----------------------Products Lates ------------------------*/

main .latesProducts{
	display: flex;
	padding: 40px 0;
	flex-direction: column;
	background: rgba(247,247,250,1);
}

.latesProducts .container{
	padding-left: 0;
	padding-right: 0;
}

.container>h1{
	font-size: 1.3em;
	font-weight: 800;
	margin-bottom: 40px;
}
.rowProducts{
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
}
.rowProducts .boxProduct{
	background: #fff;

}

.boxProduct .product{
	font-size: .8em;
	position: relative;
}
.product img{
	width: 140px;
	margin-right: 24px;
}

.product .imgS{
	position: absolute;
	transform: translateY(8px);
	opacity: 0;
	transition: all 500ms ease;
}

.price .old{
	text-decoration: line-through;
	color: #999;
	margin-right: 20px;
}
.infoProduct{
	width: 40%;
}
.infoProduct b{
	margin: 8px 0;
}
.price .new{
	font-size: 1.1em;
	font-weight: 600;
	color:rgba(234,177,26,1);
}

.product .static{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(234,177,26,1);
	color: #fff;
	padding: 3px 12px;
	font-size: .7em;
	font-weight: 500;
	letter-spacing: 2px;
	
}

.product .iconsProduct{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px 8px;
	background:  rgba(234,177,26,1);
	color: #fff;
	align-items: center;
	transition: 300ms ease;
	opacity: 0;
}

.iconsProduct i{
	margin: 6px 0;
	font-size: 18px;
	transition: all 300ms ease;
	transform: translateX(8px);
	opacity: 0;
}
.product:hover .imgF{
	opacity: 0;
}
.product:hover .imgS{
	opacity: 1;
	transform: translateY(0px);
}
.product:hover .iconsProduct{
	opacity: 1;

}

.product:hover .iconsProduct i{
	opacity: 1;
	transform: translateX(-2px);
}
.product:hover .iconsProduct i:nth-child(2){
	transition-delay: 100ms;
}

.product:hover .iconsProduct i:nth-child(3){
	transition-delay: 200ms;
}
.product:hover .iconsProduct i:nth-child(4){
	transition-delay: 300ms;
}

.brownseByCategories{
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.brownseByCategories .container{
	padding-left: 0;
}
.brownseByCategories .top{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0 30px 0;
}

.brownseByCategories .top>h1{
	font-size: 1.3em;
	font-weight: 800;
}

.top .icons i{
	margin-left: 40px;
	font-size: 1.4em;
	color: #666;
}

.best-seller-products .leftProducts{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	margin: 0 0 20px 0;
}

.leftProducts .boxProduct{
	background: rgba(246,246,249,1);
	transition: all 200ms ease;
}

.leftProducts .boxProduct:hover{
	box-shadow: 2px 1px 10px rgba(0,0,0,.2)
}
.leftProducts .boxProduct img{
	width: 35%;

}

.rightProducts .product{
	padding-left: 20px;
	width: 100%;
	align-items: flex-start;
	justify-content: flex-start;
	height: 580px;
	background: rgba(246,246,249,1);
	font-size: 1.4em;
}

.rightProducts .product img{
	width: 90%;
}

.rightProducts .product .iconsProduct{
	top: 10%;
	right: 0;
	bottom: auto;
}


/*-----------------Banners Products-------------------*/

.bannersProduct{
	margin-bottom: 50px;
}
.bannersProduct .bannerTablet{
	background-image: url('../photos/banners/banner1.jpg');
}
.bannersProduct .bannerLaptop{
	background-image: url('../photos/banners/banner2.jpg');
}
.bannersProduct .bannerTv{
	background-image: url('../photos/banners/banner3.jpg');
}

.bannersProduct .banner{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	padding-left: 50px;
	background-position: center;
	background-size: cover;
	min-height: 240px;
}

.banner h3{
	font-size: 1em;
	color: #666;
	width: 50%;
	font-weight: 100;
}

.banner h2{
	color: #333;
	font-weight: 100;
	width: 50%;
}

.hotProducts .leftProducts{
	background-color: rgba(246,246,249,1);
	text-align: center;
	padding: 40px;
}
.hotProducts .leftProducts h1{
	font-size: 1.6em;
	position: relative;
	padding-bottom: 20px;
}

.hotProducts .leftProducts h1::before{
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	background-color: #666;
	top: 100%;
    left: 50%;
    transform: translate(-50%);
}
.leftProducts .boxProductLeft .product{
	margin-top: 50px;
	justify-content: space-between;
	min-height: 650px;
	font-size: 1.2em;

}
.boxProductLeft .boxProduct:hover{
	box-shadow: none;
}
.boxProductLeft .product .infoProduct{
	padding-left: 0px;
	width: 70%;
	align-items: flex-start;
	font-size: .8em;
}
.boxProductLeft .product img{
	width: 100%;
}
.hotProducts .rightProducts .head{
	font-size: 1.4em;
	margin: 50px 0;
}

.rightProducts .head a{
	text-decoration: none;
	color: #444;
	font-weight: 600;
}
.rightProducts .boxProducts{
	display: grid;
	grid-template-columns: repeat(4, 1fr);

}

.boxProducts .product{
	background-color: #fff;
	border: .8px solid rgba(0,0,0,.1);
	font-size: .8em;
	max-height: 350px;
	padding-bottom: 20px;
}

.boxProducts .product img{
	width: 100%;
}
.boxProducts .infoProduct{
	width: 90%;
	margin: 20px 0;
}




/*----------Banner Introducts--------------*/

.bannerIntroduct{
	margin: 100px -15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.bannerIntroduct .banner{
	width: 50%;
	position: relative;
}
.bannerIntroduct .banner h2{
	width: 115%;
	font-size: 1.8em;
	font-weight: 600;
	margin-bottom: 20px;
}

.bannerIntroduct .banner img{
	width: 100%;
	height: 350px;
}
.bannerIntroduct .inforBanner p{
	color: #444;
}
.bannerIntroduct .stylePerformance{
	padding: 0 15px;
}
.bannerIntroduct .inforBanner{
	position: absolute;
	top: 20%;
	left:10%;
	width: 40%;
	user-select: none;
}
.bannerIntroduct .button{
	font-size: .8em;
	font-weight: 300;
	padding: 8px 16px;
	letter-spacing: 1.6px;
	position: absolute;
	left:10%;
	bottom: 20%;
	border-radius: 30px;
	border:none;
	background-color: rgba(234,177,26,1);
	color: #fff;
	transition: all 200ms ease;
}

.bannerIntroduct .button:hover{
	background-color: #212529;
}



/* -------------------Products Recomment--------------- */

.productsRecomment .container-fluid{
	background-color: rgba(247,247,250,1);
	margin: 100px 0;
	margin-left: -15px;
}

.boxColumnsProducts{
	display: flex;
	justify-content: space-between;

}

.boxColumnsProducts .columnProducts{
	width: 25%;
	margin: 50px 20px;
	overflow-x: hidden;
}
.titleColumn h2{
	font-size: 1.2em;
	margin: 0;
}

.coLumnProducts:last-child{
	margin-right: 0;

}
.titleColumn, .arrowsBtn{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrowsBtn .arrowLeft,
.arrowsBtn .arrowRight{
	height: 36px;
	width: 36px;
	font-size: 2em;
	background-color: #fff;
	line-height: 36px;
	text-align: center;
	margin: 0 5px;
	transform: translateX(0px);
	transition: all 300ms ease;
}
.titleColumn .arrowsBtn{
	cursor: pointer;
}

.arrowsBtn .arrowLeft:hover,
.arrowsBtn .arrowRight:hover{
	background-color: #999;
	color: #fff;
}

.columnProducts .boxProducts{
	width: 100%;
	margin: 50px 0 8px 4px;
	display: grid;
	grid-column-gap:10px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2,97%);
	grid-row-gap: 10px;
	transform: translateX(0);
	transition: all 300ms ease;

}

.columnProducts .boxProducts img{
	width: 45%;
}
.columnProducts .product{
	padding-bottom: 0;
	border:none;
	box-shadow: .4px .2px 6px rgba(0,0,0,.1);
	height: 165px;
}





.brandBanners{
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}



