

/* ----------------media - Responsive-------------------*/

@media (max-width: 1025px){
	.searchBox input{
		font-size: .5em;
	}

	.searchBox .containerTopMenu{
		font-size: .6em;
	}

	.rightInfo{
		font-size: .7em;
	}
	
	footer{
		font-size: .7em;
	}
	footer .leftTopFooter  .infoBigBox{
		width: 100%;
	}
	footer .leftTopFooter  .infoBigBox img{
		width: 30px;
	}
	footer .contact li i{
		width: 20px;
		height: 20px;
		font-size: 1em;
		border-radius: 2px;
		line-height: 20px;

	}

	footer .contact ul{
		font-size: .6em;
	}

	.contact ul li:last-child{
		font-size: .2em;
	}

	footer .Qcontact button{
		height: 30px;
	}
	
	footer .footerMiddle h5{
		font-size: .9em;
		height: 20px;
	}

	.columnProducts .boxProducts {
		font-size: .8em;
	}

	.columnProducts .product{
		height: 120px;
	}

	.hotProducts .rightProducts .head{
		font-size: 1em;
	}
}



@media (max-width: 769px){
	.midLeft, .menu, .containerRight .searchBox, .rightInfo{
		display: none;
	}

	.rowProducts{
		grid-template-columns: repeat(2, 1fr);
	}
	.menuBtn{
		display: inline-block;
		position: absolute;
		right: 20px;
	}
	.btn1, 
	.btn2,
	.btn3{
		width: 20px;
		height: 1px;
		background: black;
		margin: 6px 0 ;
		transition: all .6s;
	}

	.change .btn1 {
	  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
	  transform: rotate(-45deg) translate(-5px, 5px);
	}

	.change .btn2 {
		opacity: 0;
	}

	.change .btn3 {
	  -webkit-transform: rotate(45deg) translate(-5px, -5px);
	  transform: rotate(45deg) translate(-5px, -5px);
	}

	.rightProducts .boxProduct .product{
		height: 400px;
	}
	.fixMenu, .fixMenuRight{
		opacity: 0;
		position: fixed;
		height: 100vh;
		background-color: rgba(0,0,0,.5);
		top: 0;
		left: 0;
	}
	.fixMenu{
		z-index: 10;
	}
	.fixMenuRight{
		z-index: 12;
	}

	 .fixMenuRight{
		display: flex;
		justify-content: flex-end;
		
	} 
	.fixMenu .fixLeft{
		transition: all 400ms ease;
		position: fixed;
		z-index: 11;
		height: 100vh;
		background-color: #fff;
		transform: translateX(-220px);
	}
	
	.fixMenuRight .fixRight{
		transition: all 400ms ease;
		display: flex;
		flex-direction: column;
		z-index: 10;
		height: 100vh;
		background-color: #fff;
		font-size: .8em;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		right: 0;
		transform: translateX(0px);
	}

	.fixRight .top{
		margin: 30px 0;
	}

	.fixRight .top .info1{
		margin-bottom: 20px;
	}
	.fixRight .top i{
		text-align: center;
		padding-right: 0;
		height: 40px;
		width: 40px;
		line-height: 40px;
		color:rgba(234,177,26,1);
		border: solid 1px rgba(234,177,26,1);
		border-radius: 10px;
	}

	.fixRight .top div::before{
		display: none;
	}
	
	.fixRight #flexNav{
		width: 80%;
		margin-bottom: 30px;
	}
	#flexNav li{
		font-size: 1.2em;
		padding: 10px 0;
	}
	
	.fixRight .searchBox{
		width: 80%;
		position: relative;
	}
	.fixRight .searchBox input{
		font-size: .8em;
		width: 70%;
		line-height: 40px;
		border-radius: 20px 0 0 20px;
	}
	.fixRight .searchBox i{
		top: 0;
		position: absolute;
		line-height: 40px;
		width: 30%;
		right: 0;
		border-radius: 0 20px 20px 0;
	}
	
	.infoImg{
		font-size: .9em;
	}

	.bannersProduct .banner{
		margin:20px 0;
	}
	.bannersProduct .banner h2, .bannersProduct .banner h3{
		margin-left: 20px;
	}

	.bannersProduct div:last-child{
		padding-left: 0;
	}

	.bannerIntroduct{
		font-size: .8em;
	}
	.bannerIntroduct .banner button{
		bottom: 10%;
	}
	.bannerIntroduct .banner img{
		height: 250px;
	}
	.bannerIntroduct .banner .inforBanner{
		top: 10%;
		width: 45%;
	}

}



@media (max-width: 769px){
	.boxColumnsProducts {
		font-size: .7em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
	}
	.boxColumnsProducts .columnProducts{
		width: 100%;
		margin:20px;
	}
	.columnProducts .boxProducts{
		margin-top: 10px;
	}
	
	.boxProducts .product{
		border: none;
		transition: 200ms ease;
		overflow: hidden;
	}
	 .boxProducts .product:hover{
		border:.1px solid rgba(0,0,0,.1);
	} 
	
	
	.brandBanners a:last-child{
		display: none;
	}
	.container .brandBanners{
		display: grid;
		grid-template-columns: repeat(4,25%);
		grid-column-gap: 20px;
	}

	.footerTop .leftTopFooter .infoBigBox{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
    	align-items: flex-start;
   
	}
	.footerTop{
		height: 25vh;
		font-size: 1.3em;
	}
	.infoBigBox .infoBox{
		margin: 0 40px;
	}

	.rightTopFooter .searchBox{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.rightTopFooter .searchBox input, .rightTopFooter .searchBox button{
		box-sizing: content-box;
		width: 100%;
		padding: 0 20px;
		margin:10px;
	}
	.footerMiddle{
		font-size: 1.5em;
	}
	.footerMiddle .contact{
		font-size: 1.5em;
	}
	.contact ul li:last-child{
		font-size: 1em;
	}
	.Qcontact button{
		width: 80%;
	}
}



@media (max-width: 426px){
	.headerTop{
		display: none;
	}

	.latesProducts .rowProducts{
		width: 100vw;
		overflow: hidden;
		display: grid;
		grid-column-gap: 20px;
		grid-row-gap: 10px;
		grid-template-columns: repeat(4, 1fr);

	}

	.latesProducts .rowProducts .boxProduct{
		width: 100vw;
	}
	.mainNav .container-fluid, .container, .containerTop{
		overflow:hidden;
	}
	.boxBrandBanner .brandBanners{
		grid-template-columns: repeat(4,50%);
		grid-column-gap: 10px;
		margin: 0;
	}
	.boxBrandBanner{
		margin-top: -70px;
	}


	.latesProducts .boxSlider {
		width: 97%;
		margin: 0 auto;
		overflow-x: visible;
	}

	.latesProducts .rowProducts{
		display: flex;
		justify-content: flex-start;
		width: 400vw;		
	}

	.latesProducts .product{
		width: 97vw;
	}

	.brownseByCategories .top{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.brownseByCategories .top .icons{
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
	}

	.brownseByCategories .top .icons i{
		color: rgba(0,0,0,.3);
	}

	.best-seller-products .leftProducts {
		grid-template-columns: 1fr;
	}
	.midRight .infoImg{
		font-size: .9em;
	}
	.infoImg h1{
		font-size: 2em;
	}
	.infoProduct {
    width: 50%;
    font-size: .7em;
	}

	.rightProducts .boxProducts {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    
	}
	.rightProducts .boxProducts .boxProduct{
		box-shadow: 1px 1px 4px rgba(0,0,0,.1);
		font-size: 1.4em;
	}

	.bannerIntroduct{
		flex-direction: column;
	}
	.bannerIntroduct .banner{
		width: 100%;
	}
	.bannerIntroduct .stylePerformance{
		padding:0;
	}
	.boxColumnsProducts{
		grid-template-columns: repeat(1, 1fr);
	}
	.columnProducts .boxProducts img {
    	width: 35%;
	}
	.boxColumnsProducts .boxProducts .infoProduct{
		 font-size: 2em; 
	}

	.footerTop{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.leftTopFooter{
		width: 100%;
		height: 12em;
	}
	.rightTopFooter{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.rightTopFooter .searchBox{
		margin-left: 0;
	}

	.fixMenu .fixLeft{
		width: 52vw !important;
	}

	.fixMenuRight .fixRight{
		width: 50vw !important;
		font-size: .6em;
	}
}

@media (max-width: 376px){
	.fixMenu .fixLeft{
		width: 54vw !important;
	}
	.fixLeft .containerList li a {
		 font-size: .8rem;
	}

	.fixMenuRight .fixRight{
		width: 50vw !important;
		font-size: .5em;
	}
	#flexNav li {
		font-size: 1.7em;
	}
}

@media (max-width: 320px){
	.fixMenu .fixLeft{
		font-size: .6em;
	}
	.fixLeft .containerList li a {
		 font-size: .7rem;
	}
}